  <div class="header">
  <span routerLink="/home">
    INTERNET OF THINGS
  </span>
     <a class="home" routerLink="/welcome">
      HOME
    </a>
  </div>
<div class="body">
  <div class="section">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box" >
      <div class="square"aTilt style="--i:0;"></div>
      <div class="square" aTilt style="--i:1;"></div>
      <div class="square" aTilt style="--i:2;"></div>
      <div class="square" aTilt style="--i:3;"></div>
      <div class="square" aTilt style="--i:4;"></div>
      <div class="container" aTilt >
        <div class="form" >
          <h2>Login Form</h2>
          <form> 
            <div class="inputBox">
              <input type="text" placeholder="Email" #userName required>
            </div>
            <div class="inputBox">
              <input type="password" placeholder="Password" #userPassword required>
            </div>
            <div class="inputBox">
              <input type="submit" value="Login" (click)="auth.SignIn(userName.value, userPassword.value)">
            </div>
            <p class="forget">Forgot Password ?  <a routerLink="/forgot-password">Click Here</a></p>
            <p class="forget" >Don't have an Account ? <a   routerLink="/sign-up">SignUp</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
