<div class="start">
<div class="header">
  <span routerLink="/home">
    INTERNET OF THINGS
  </span>
  <div  >
     <a class="home" routerLink="/welcome">
      Home
    </a>
    <a class="dashboard" routerLink="/dashboard">
      Dashboard
    </a>
    <a class="news" routerLink="/news">
      News
    </a>
  </div>
  </div>

<div class="row justify-content-center p-4" style="margin-top: 70px;">
    <div class="col-md-6">
  
  <div class="form-group p-2" >
  <input type="text" class="form-control" [(ngModel)]="eventName" placeholder="Enter Event Name">
  </div>
  
  <div class="form-group p-2">
    <input type="text" class="form-control" [(ngModel)]="eventDate" placeholder="Enter Date">
    </div>
  
  <div class="form-group p-2">
    <input type="text" class="form-control" [(ngModel)]="eventLink" placeholder="Enter RegLink (ex):https://google.com">
    </div>
  
  <div class="form-group p-2">
      <textarea name="paragraph_text" [(ngModel)]="eventDescription" placeholder="Enter Description" cols="60" rows="4"></textarea>
    </div>
  
  
    <div fxLayout="row" fxLayoutAlign="space-between">
  <button mat-raised-button style="background-color: rgb(70, 106, 226); color: aliceblue;" (click)="Open()" [disabled]="!eventName || !eventDate || !eventLink || !eventDescription">
    Add Event
  </button>
  <button mat-raised-button class="btn-danger" (click)="signout()">Logout</button>
  </div>
  
  <div class="form-group">
    <h3><b>{{message}}</b></h3>
  </div>
  
  <table>
    <thead>
      <tr style="color: rgb(209, 26, 2);">
        <th>Name</th>&nbsp;
        <th>Date</th>&nbsp;
        &nbsp;<th>Link</th>&nbsp;
        <th>Description</th>
      
      </tr>
    </thead>
  
    <tbody style="color: rgb(4, 89, 247);">
      <tr *ngFor="let event of Event">

        
        <td><br>
          {{ event.payload.doc.data().name | json}}
        </td>&nbsp;
        <td><br>
          {{ event.payload.doc.data().date | json}}
        </td>&nbsp;
        <td> <br>{{ event.payload.doc.data().link | json}}</td>
        <td>
          <td><br>{{ event.payload.doc.data().description | json}}</td>
        <td>&nbsp;
          <span *ngFor="let event of event.payload.doc.data().new ">
            {{ event | json }}
          </span>
        </td>
        <td style="cursor: pointer;"
          [attr.colspan]="event.payload.doc.data().completed"
          (click)="deleteEvent(event)"><br>
          <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  
  <ul>
  </ul>
  


  </div>
 
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SignIn state</th>
      <th scope="col">Off/On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let signup of domiciliarios | async ; let i = index;" [ngClass]="{'text-primary': signup.signup}">
        
      <td>{{ i + 1 }}</td>
      <td>{{ signup.button }}</td>
      <td>
        <mat-slide-toggle  #toggle [ngModel]="signup.button" (ngModelChange)="actualizarEstado(signup.id, signup, $event)"></mat-slide-toggle>
        <p *ngIf=signup.button
         >{{signup.button}}</p>
      </td>
    </tr>
  </tbody>
</table>

</div>