
  <mat-toolbar style="background-color:#161625;color: aliceblue;">
    <a  mat-flat-button href=""style="background-color:#161625;color: aliceblue;" routerLink="/home">
       INTERNET &nbsp;  OF &nbsp; THINGS
    </a>
    
  
    <div class="home">
      <a mat-flat-button class="home" style="background-color:#161625;color: aliceblue;"
       routerLink="/welcome">
       HOME
      </a>
      <a mat-flat-button class="login" style="background-color:#161625;color: aliceblue;"
       routerLink="/dashboard">
        DASHBOARD
      </a>
      <a mat-flat-button class="news" style="background-color:#161625;color: aliceblue;"
       routerLink="/news">
        NEWS
      </a>
      
  
    </div>
  </mat-toolbar>



<div class="row justify-content-center p-4">
    <div class="col-md-6">
  
  <div class="form-group p-2">
  <input type="text" class="form-control" [(ngModel)]="eventName" placeholder="Enter Event Name">
  </div>
  
  <div class="form-group p-2">
    <input type="text" class="form-control" [(ngModel)]="eventDate" placeholder="Enter Date">
    </div>
  
  <div class="form-group p-2">
    <input type="text" class="form-control" [(ngModel)]="eventLink" placeholder="Enter RegLink">
    </div>
  
  <div class="form-group p-2">
      <textarea name="paragraph_text" [(ngModel)]="eventDescription" placeholder="Enter Description" cols="60" rows="4"></textarea>
    </div>
  
  
    <div fxLayout="row" fxLayoutAlign="space-between">
  <button mat-flat-button style="background-color: rgb(70, 106, 226); color: aliceblue;" (click)="Open()" [disabled]="!eventName || !eventDate || !eventLink || !eventDescription">
    Add Event
  </button>
  <button class="btn-danger" (click)="signout()">Logout</button>
  </div>
  
  <div class="form-group">
    <h3><b>{{message}}</b></h3>
  </div>
  
  <table>
    <thead>
      <tr style="color: rgb(209, 26, 2);">
        <th>Name</th>&nbsp;
        <th>Date</th>&nbsp;
        &nbsp;<th>Link</th>&nbsp;
        <th>Description</th>
      </tr>
    </thead>
  
    <tbody style="color: rgb(4, 89, 247);">

      <!-- <div *ngFor="let domiciliario of domiciliarios | async ; let i = index; trackBy: distinctFun" [ngClass]="{'text-primary': domiciliario.estado}">
        <mat-slide-toggle #toggle [ngModel]="domiciliario.estado" 
        (ngModelChange)="actualizarEstado(domiciliario.id, domiciliario, $event)">
      </mat-slide-toggle>
      </div> -->

      <tr *ngFor="let event of Event">

        
        <td>
          {{ event.payload.doc.data().name | json}}
        </td>&nbsp;
        <td>
          {{ event.payload.doc.data().date | json}}
        </td>&nbsp;
        <td>{{ event.payload.doc.data().link | json}}</td>
        <td>
          <td>{{ event.payload.doc.data().description | json}}</td>
        <td>&nbsp;
          <span *ngFor="let event of event.payload.doc.data().new ">
            {{ event | json }}
          </span>
        </td>
        <td style="cursor: pointer;"
          [attr.colspan]="event.payload.doc.data().completed"
          (click)="deleteEvent(event)">
          <i class="material-icons">delete_forever</i>
          
        </td>
      </tr>
    </tbody>
  </table>
  
  <ul>
  </ul>
  


  </div>
 
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">ID</th> -->
      <th scope="col">SignIn state</th>
      <th scope="col">Off/On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let signup of domiciliarios | async ; let i = index;" [ngClass]="{'text-primary': signup.signup}">
        
      <td>{{ i + 1 }}</td>
      <!-- <td>{{ domiciliario.id }}</td> -->
      <td>{{ signup.button }}</td>
      <td>
        <mat-slide-toggle  #toggle [ngModel]="signup.button" (ngModelChange)="actualizarEstado(signup.id, signup, $event)"></mat-slide-toggle>
        <p *ngIf=signup.button
         >{{signup.button}}</p>
      </td>
      <!-- <td>
        <button class="btn btn-outline-primary btn-sm" (click)="actualizarEstado()">Update</button>
      </td> -->
    </tr>
  </tbody>
</table>

