   <div >
   <!-- <p>UID: {{ user.uid }}</p> -->
    <p>Email : {{user.email}}</p>
    <button (click)="auth.signOut()" class="button">Logout</button>

    <hr>

    Subscriber:
    <span class="tag" [class.is-success]="user.roles?.subscriber">
      {{ user.roles?.subscriber }}
    </span><br>

    Editor:
    <span class="tag" [class.is-success]="user.roles?.editor">
      {{ user.roles?.editor }}
    </span><br>

    Admin:
    <span class="tag" [class.is-success]="user.roles?.admin">
      {{ user.roles?.admin }}
    </span><br>


  



<div style="justify-content: space-between;
align-items: center;">
    <a class="button is-dark" routerLink="/secret">
      Super Secret Page
    </a><br>

    <a class="button is-info" routerLink="/content">
      Subscriber Page
    </a><br>
    <a class="button is-dark" routerLink="/news">
      news
    </a>

  </div>
</div>