  <div class="image" style="background-image: url(/assets/newsback.png);">
  <div class="header">
    <span routerLink="/home">
      INTERNET OF THINGS
    </span>
    <div class="toggle">

    </div>
    <div class="home">
      <a  class="home" style="background-color:#161625;color: aliceblue;"
       routerLink="/welcome">
       Home
      </a>
      <a  class="login" style="background-color:#161625;color: aliceblue;"
       routerLink="/dashboard">
        Dashboard
      </a>
      <a  class="admin" style="background-color:#161625;color: aliceblue;" routerLink="/secret">
        Admin
      </a>
      <a class="logout" style="background-color:#161625; color: #fff; cursor: pointer;" (click)="authService.signOut()">LogOut</a>
      <div class="menu"> 
      <button mat-button [matMenuTriggerFor]="beforeMenu" style="font-weight: 700;">
        Menu
      </button>
<mat-menu  #beforeMenu="matMenu" xPosition="before">
  <button style="font-weight: 700;" mat-menu-item routerLink="/welcome">Home</button>
  <button style="font-weight: 700;" mat-menu-item routerLink="/dashboard">Dashboard</button>
  <button style="font-weight: 700;" mat-menu-item routerLink="/secret">Admin</button>
  <button style="font-weight: 700;" mat-menu-item (click)="authService.signOut()">LogOut</button>
</mat-menu>
</div>
    </div>
  </div>
  


<div class="body">
  <div class="container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let event of Event">
        <mat-card class="card" aTilt >
          <mat-card-content>
            <!-- <h2> Event</h2> -->
                <h3> Event Name : {{event.payload.doc.data().name }}</h3>
                <h3>Date : {{event.payload.doc.data().date }}</h3>
                <p>Description : {{event.payload.doc.data().description }}</p>
                <a  href="{{event.payload.doc.data().link}}" (click)="onSelect()" 
             >Register Link
          </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>
  </div>
</div>