
  <div *ngFor="let signup of domiciliarios | async">
<body *ngIf ="signup.button;else closed">
  <section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box" >
      <div class="square"aTilt style="--i:0;"></div>
      <div class="square" aTilt style="--i:1;"></div>
      <div class="square" aTilt style="--i:2;"></div>
      <div class="square" aTilt style="--i:3;"></div>
      <div class="square" aTilt style="--i:4;"></div>
      <div class="container" aTilt>
        <div class="form" >
          <h2>SignUp Form</h2>
          <form> 
            <div class="inputBox">
              <input type="text" placeholder="Email" #userEmail required>
            </div>
            <div class="inputBox">
              <input type="password" placeholder="Password" #userPwd required>
            </div>
            <div class="inputBox">
              <input type="submit" value="SignUp" (click)="auth.SignUp(userEmail.value, userPwd.value)">
            </div>
            <p class="forget">Already have an Account ? <a routerLink="/dashboard">Sign In</a></p>
          </form> 
        </div>
      </div>
    </div>
    </section>
</body>
</div>
<ng-template #closed  >
 <h2 style="
width: 100%;
  position: absolute;
  text-align: center;">
   404 Not Found! <br>
  Registration is closed by Admin. <br>
  Ask Lab Staff <br>
  <button  mat-raised-button color="primary" routerLink="/dashboard">Back to Login</button>

</h2>
</ng-template>