<!-- <p>welcome works!</p> -->
<div  style="background-color: #3a1d3c;">
    <div appMoon [ratio]="-0.5" class="header">
        <!-- <div class="col-1"> -->
        <!-- <a href="" class="logo">
            IoT
        </a> -->
        <ul>
            <!-- <li><a href="" class="active">HOME</a></li> -->
            <!-- <li><a href="" routerLink="/dashboard">DASHBOARD</a></li> -->
        </ul>
    <!-- </div> -->
 </div>
    <section>
        <img src="/assets/stars.png" appStars [ratio]="-0.5" id="stars">

        <img class="moon" appMoon [ratio]="-0.8" src="/assets/moon.png" id="moon">

        <h2 appParallax [ratio]="-1.9" id="text"> <span style="color: #d58cf0;"> INTERNET OF </span>
            <span style="color:#739efa">THINGS </span>
        </h2>
        <a style="cursor: pointer;" (click)="scroll()" id="btn">Explore</a>
        <!-- <a href="" id="btn" routerLink="/dashboard">DASHBOARD</a> -->
        <img src="/assets/mountains_behind.png" id="mountains_behind">
        <img src="/assets/mountains_front.png" id="mountains_front">
    </section>
</div>
<div class="sec" id="sec">


    <!-- <img style="opacity: 0.09;" class="center" src="/assets/india.png" alt=""> -->
    <div class="dashboard">
<!-- <h2>INTERNET OF THINGS</h2><br><br> -->
<a href="" class="name">
    INTERNET OF THINGS
</a>

                <li><a href="" routerLink="/dashboard">DASHBOARD</a></li>
</div>
<p>“If you think that the internet has <span class="col-1"> changed your life, <br><br>
     <br> think again. <br><br></span>
     <br> The Internet of Things is about to change it all over again!”</p>

    <!-- <h2>stromloop</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

</div>