<div  style="background-color: #3a1d3c;">
    <div appMoon [ratio]="-0.5" class="header">
        
 </div>
    <section>
        <img src="/assets/stars.png" appStars [ratio]="-0.5" id="stars">

        <img class="moon" appMoon [ratio]="-0.8" src="/assets/moon.png" id="moon">

        <h2 appParallax [ratio]="-1.9" id="text"> <span style="color: #d58cf0;"> INTERNET OF </span>
            <span style="color:#739efa">THINGS </span>
        </h2>
        <a style="cursor: pointer;" (click)="scroll()" id="btn">Explore</a>
        <img src="/assets/mountains_behind.png" id="mountains_behind">
        <img src="/assets/mountains_front.png" id="mountains_front">
    </section>
</div>


<div class="sec" id="sec">
    <div class="dashboard">
<a href="" class="name">
    INTERNET OF THINGS
</a>     
    <li style="list-style-type: none;"><a href="" routerLink="/dashboard">DASHBOARD</a></li>
</div>
<p>“If you think that the internet has <span class="col-1"> changed your life, <br>
     <br> think again. <br></span>
     <br> The Internet of Things is about to change it all over again!”</p>
<br>
<mat-card style="background-color: #c18dd4;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);">
<ul style="font-family:'Times New Roman',
 Times, serif; line-height: 0.9;
  font-size: 2.3em;
   list-style-type: none;
   color: rgb(66, 63, 63);">
<li >The internet of things market revenue is $212 billion worldwide.</li> 
    <br> <li> Google Home will have the largest IoT devices market share by 2021, at 48%.</li> <br>
    <li> The average number of connected devices per household in 2020 will be 50. </li>
     <br><li> By 2021, 35 billion IoT devices will be installed around the world.</li>     
    </ul>
</mat-card>
</div>