
<body>
  <div class="box">
    <span>
      <div class="form">
        <h2>Forgot Password</h2>
        <form>
          <div class="inputbox">
          <input type="email" placeholder="Email" #passwordResetEmail required>
        </div>
        <div class="inputbox">
          <input type="submit" value="Submit"(click)="auth.ForgotPassword(passwordResetEmail.value)" >
        </div>
        <p class="login">Back to Login : <a routerLink="/dashboard">LogIn</a></p>
        </form>
    </div>
    </span>
</div>

</body>